RPC_URL=
SEPOLIA_RPC_URL=
PRIVATE_KEY=
NETWORK_ID=

L1_REGISTRY_ADDR=
L1_ENFORCER_ADDR=
L1_ENFORCER_NOPOP_ADDR=
L1_GROTH16_ADDR=

ISSUER_ADDR=
PRIVATE_KEY_ISSUER=
PRIVATE_KEY_OWNER=
PRIVATE_KEY_PROVER=
PRIVATE_KEY_VERIFIER=
