node_modules
.env

# Hardhat files
/cache
/artifacts

# TypeChain files
/typechain
/typechain-types

# solidity-coverage files
/coverage
/coverage.json

# Hardhat Ignition default folder for deployments against a local node
ignition/deployments

# Generated logs and ZKP artifacts
*.log
zkp/proof.json
zkp/public.json
zkp/batch/witness_*.wtns

package-lock.json